*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



body {
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

button:focus {outline:0;}

aside {
  background-color: #17252A;
  color: #FEFFFF;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

ul {
  list-style: none;
}

main {
  background-color: #3AAFA9;
  box-sizing: border-box;
  display: grid;
  flex: 5;
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px
}

.box {
  background-color: #FEFFFF;
  border-radius: 5px;
  padding: 7px;
}

.fire__image {
  display: block;
  margin: 15px auto;
  width: 30%;
}
.welcome,
.fit__lit {
  margin: 15px;
  text-align: center;
}

.date__input {
  border: none;
  height: 25px;
  margin: 15px 0;
  width: 100%;
}

.hide__user__card {
  background-color: #2B7A7A;
  border: none;
  color: #FEFFFF;
  height: 25px;
  margin: 3px 0 3px 0;
  width: 100%;
}

.user--card {
  align-self: flex-start;
  display: none;
  justify-self: flex-start;
}

.box {
  text-align: center;
}

.stopwatch {
  margin: auto;
  width: 50%;
}


.active__day__timemiles {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.active__day__time__info,
.active__day__miles__info {
  flex: 1;
  padding: 10px;
}

.footsteps {
  width: 50%;
}

.weekly--active {
  padding: 5%;
  width: 100%;
}

.weekly--active tr:nth-child(even) {
  background-color: grey;
}

.average--active--box {
  display: flex;
  flex-wrap: wrap;
}

.average--active--box canvas {
  flex: 1;
}

#progress__bar__activity {
  border: none;
  -webkit-appearance: none;
  color: #2B7A7A;
  height: 30px;
  width: 80%;
}

#progress__bar__activity::-webkit-progress-value {
  color: #17252A;
}

progress {
  color: #17252A;
}

.trophy__image {
  width: 70px;
}


@media only screen and (max-width: 1200px){
  
  main {
    grid-template-columns: 1fr 1fr;
  }
  aside {
    width: 100%;
  }
}

@media only screen and (max-width: 1000px){
  main {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 1000px){
  body {
    display: block;
  }
}
